.fullArticle {
  border: 1px solid rgba(142, 141, 141, 0.3);
  margin-top: -2rem;
  padding: 1rem;
  box-shadow: 0.5px 0.5px 20px 0.2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .articlePicture {
    max-height: 500px;
    display: flex;
    justify-content: center;
  
    img {
      border-radius: 7px;
    }
  }

  .articleContent {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;

    .articleText {
      margin-bottom: 1rem;
    }

    a {
      align-self: flex-start;
    }
  }

  .linkText {
    display: flex;

    b {
      margin-left: 0.5rem;
    }
  }
}
